{% extends 'base.html.twig' %}

{% block title %}Mon compte - La Boutique Complete {% endblock %}

{% block content%}
    <h1>Mon compte</h1>
    Bienvenue sur votre compte  {{ app.user.firstname }}
    {# dump(app.user.lastname) l'objet app permet de récupérer la request, les reponse ou encore les objet des classes(user, produit,ect...) #}
    - <a href="{{ path('account_password')}}">Modifier mon mot de passe</a>
    - <a href="{{ path('account_address')}}">Gérer mes adresses</a>

{%endblock%}